.app-folders-container {
  width: 100%;
  margin: 0 auto;
}
.jaf-container div.folder {
  float: left;
  text-align: center;
  padding: 1px;
  overflow: hidden;
}
.jaf-container {
  overflow: hidden;
  position: relative;
  padding: 0;
}
.jaf-row {
  zoom: 1;
}
.clear {
  clear: both;
}
